@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 70%;
  will-change: filter;
  transition: filter 300ms;
  line-height: 80px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em blanchedalmond);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em pink);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  top: 0px;
  position: fixed;
  text-align: center;
  border-bottom: 5px solid #f077bc;
  /* was 'pink' */
  gap: 20px;
}

#header,
#footer {
  margin: 0;
  left: 0;
  background-color: rgb(55, 55, 55);
  /* background-color: #faefdf; */
  width: 100%;
  height: 80px;
  justify-content: center;
  align-content: center;
  display: flex;
  box-shadow: 0px 0px 20px 1px #f077bc;
}

#footer {
  position: absolute;
  border-top: 5px solid #f077bc;
  
  /* was 'pink' */
  margin-top: auto;
  margin-bottom: 0;
}

#header h1,
#footer h2 {
  margin: 0;
  line-height: 80px;
  /* color: blanchedalmond; */
  color: #faefdf;
  
}
