#queryform {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 100px;
}

#queryanalytics {
  display: flex;
  gap: 30px;
}

#queryselector,
#querylabels label {
  width: 500px;
}
#querylabels,
#queryboxes,
#querybuttons {
  flex-direction: row;
  display: flex;
  padding: 10px;
  gap: 30px;
}

#querybuttons {
  gap: 120px;
  margin-bottom: 30px;
}
#queryselector select,
#querylabels label {
  font-size: 18px;
  margin-bottom: 5px;
}

#querylabels pre,
#queryboxes pre {
  width: 500px;
  height: 300px;
  background-color: rgb(25, 25, 25);
  border-radius: 3px;
  border: 1px solid pink;
  font-size: 14px;
  text-align: left;
  padding: 5px;
  overflow: auto;
}

#queryform button {
  margin-top: 20px; /* Add some space between the divs and the button */
}

#barchart,
#querytable {
  width: 800px;
  height: 450px;
  overflow: auto;
}

#querytable {
  border-collapse: collapse;
  width: 800px;
}
#querytable table {
  width: 75%;
  margin-right: 0;
  margin-left: auto;
}

#querytable table,
#barchart {
  border: 1px solid pink;
  border-radius: 2px;
}

#querytable th,
#querytable td {
  border: 1px solid transparent; /* Set transparent border to reserve space for borders */
  padding: 8px; /* Adjust padding as needed */
}

#querytable th {
  text-align: left;
  background-color: #050505;
}

.querytable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#querytable tr:hover {
  background-color: #ddd;
  color: black;
}
th {
  padding: 8px;
}

/* #barchart {
  margin-top: 2px;
} */
