body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  max-width: 1280px;
  min-height: 100%;
  /* margin was 100px */
  margin: 0px auto 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 60%;
  will-change: filter;
  transition: filter 300ms;
  line-height: 80px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em pink);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  top: 0px;
  position: fixed;
  text-align: center;
  border-bottom: 10px solid #f077bc;
  /* was 'pink' */
  gap: 20px;
  h1 {
    font-size: 52px;
  }
}

#header,
#footer {
  display: flex;
  margin: 0;
  left: 0;
  background-color: rgb(26, 26, 26);
  /* background-color: #faefdf; */
  width: 100%;
  height: 80px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 20px 1px #f077bc;
}

#socials {
  position: fixed;
  left: 0;
  top: 0;
  /* top right bottom left */
  margin: 25px 0 auto 15px;
  display: flex;
  flex-direction: row; /* set logos side-by-side */
  gap: 15px;
  line-height: 80px;
}

.sociallogo:hover {
  /* border-color: #646cff; */
  /* color: #faefdf; */
  /* box-shadow: 0px 0px 7px 3px #f077bc; */
  filter: drop-shadow(0px 0px 5px white);
}

.sociallogo {
  height: 32px;
  width: 32px;
  /* filter to make svg logos white */
}
.whitefilter {
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg)
    brightness(112%) contrast(110%);
}

#pages {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: row; /* set buttons side-by-side */
  align-items: flex-end; /* align buttons to the right */
  gap: 10px;
}
.buql:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0px 0px 20px white) */
}

#header h1,
#footer h2 {
  margin: 0;
  line-height: 80px;
  /* color: blanchedalmond; */
  color: #faefdf;
  font-family: 'Anta', sand-serif;
}

#footer {
  position: fixed;
  border-top: 5px solid #f077bc;
  bottom: 0;
  /* was 'pink' */
  margin-top: auto;
  margin-bottom: 0;
}
