body {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

#root {
  max-width: 1280px;
  min-height: 100%;
  margin: 0px auto 0px;
  padding: 2rem;
  text-align: center;
}

.logo {
  margin-top: auto;
  margin-bottom: auto;
  height: 60%;
  will-change: filter;
  transition: filter 300ms;
  line-height: 80px;
}
.logo:hover {
  filter: drop-shadow(0 0 2em white);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em pink);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#header {
  top: 0px;
  position: fixed;
  text-align: center;
  border-bottom: 10px solid #f077bc;
  /* previously 'pink' */
  h1 {
    font-size: 52px;
  }
}

#header,
#footer {
  display: flex;
  margin: 0;
  left: 0;
  background-color: rgb(26, 26, 26);  
  width: 100%;
  height: 80px;
  justify-content: center;
  align-content: center;
  box-shadow: 0px 0px 20px 1px #f077bc;
}

#socials {
  position: fixed;
  left: 0;
  top: 0;
  margin: 25px 0 auto 15px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  line-height: 80px;
}

.sociallogo {
  height: 32px;
  width: 32px;
}

/* filter to make logos white */
.whitefilter {
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg)
    brightness(112%) contrast(110%);
}

/* the github logo is white by default, as opposed to the other ones */
.gitlogo:hover {
  filter: invert(100%) sepia(13%) saturate(7500%) hue-rotate(200deg)
  brightness(112%) contrast(110%) drop-shadow(0px 0px 5px white);
}

.sociallogo:hover {
  filter: drop-shadow(0px 0px 5px white);
}

#pages {
  position: fixed;
  right: 0;
  top: 0;
  margin-top: 30px;
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;
}
.buql:hover {
  transform: scale(1.1);
  /* filter: drop-shadow(0px 0px 20px white) */
}

#header h1,
#footer h2 {
  margin: 0;
  line-height: 80px;
  color: #faefdf;
  font-family: 'Anta', sand-serif;
}

#footer {
  position: fixed;
  border-top: 5px solid #f077bc;
  /* previously 'pink' */
  bottom: 0;
  margin-top: auto;
  margin-bottom: 0;
}

#title {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  justify-items: center;
  justify-content: center;
  h1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

#navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  #header {
    padding-bottom: 20px;
  }
  #title {
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    h1 {
      font-size: 2.5em;
    }
  }

  #navbar {
    left: auto;
    right: auto;
  }
  #socials {
    margin-left: 0;
    margin-right: auto;
    padding-left: 10px;
  }
  .sociallogo {
    height: 1.5em;
    width: 1.5em;
  }

  #pages {
    button {
      padding: 5px;
    }
    margin-left: auto;
    margin-right: 0;
    padding-right: 10px;
    padding-top: 12px;
  }

  #socials a,
  #pages button {
    margin: 10px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
